//
//  Intel Edison.xcconfig
//  Board config file
//  ----------------------------------
//  Developed with embedXcode
//
//  Part of embedXcode
//  Embedded Computing on Xcode
//
//  Created by 	Rei Vilo on 21 Mar 2016
//  Copyright   (c) 2010-2020 https://embedXcode.weebly.com
//  Licence		All rights reserved
//
// Last update: 25 Sep 2018 release 10.0.6

// Board identifier
// See Boards.txt for <tag>.name=Arduino Uno (16 MHz)
//
BOARD_TAG  = arduino_101

// Port (optional)
// most common are /dev/tty.usbserial*, /dev/tty.usbmodem* or /dev/tty.uart*
//
BOARD_PORT = /dev/cu.usbmodem*

// References for Xcode code-sense
// See Boards.txt for <tag>.build.mcu=<GCC_PREPROCESSOR_DEFINITIONS>
//
GCC_PREPROCESSOR_DEFINITIONS = arc32 ARDUINO CURIE_IDE

// Specify the full path and name of the application
// with /Contents/Java/** after
//
HEADER_SEARCH_PATHS = $HOME/Library/Arduino15/packages/Intel/hardware/arc32/**

// Maximum RAM size in bytes
// given by <tag>.upload.maximum_ram_size in boards.txt for Maple and Teensy
// given by <tag>.upload.maximum_data_size in boards.txt for Arduino 1.5.x
//
MAX_RAM_SIZE = 196608

//RESET_MESSAGE = 1

WARNING_MESSAGE = $(CONFIG_NAME) no longer supported by Intel

CONFIG_NAME = Intel Curie 101
